@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  align-items: center;
  background: #f0f0f0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

.ccard {
  border-radius: 5px;
  transition: box-shadow 0.5s;
  will-change: transform;
}
